{% if items %}
    <ul>
        {% for item in items %}
            <li>
                <form action="/remove-item" method="POST">
                    <label>{{ item.text }}</label>
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button type="submit">❌</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Your to-do list is empty.</p>
{% endif %}

<form action="/new-item" method="POST">
    <input type="text" placeholder="Add new item" name="new_item" required>
    <button type="submit">Add Item</button>
</form>